<div class="layout">
  <div class="sidebar">
    <div class="user-info">
      <div class="user-avatar"></div>
      <div class="user-details">
        <p>{{ currentUser.username }}</p>
        <p>{{ currentUser.role }}</p>
        <hr class="divider">
      </div>
    </div>
    <ul class="menu">
      <li><a routerLink="/charge-rh-dashboard"><img src="assets/dashboard-icon.png" alt="Dashboard Icon" class="menu-icon">Dashboard</a></li>
      <li><a routerLink="/charge-rh-creneau"><img src="assets/schedule-icon.png" alt="Schedule Icon" class="menu-icon">Schedule</a></li>
      <li><a routerLink="/charge-rh-doctors" style="color: #6e3282; font-weight: bold;"><img src="assets/docprofile-icon.png" alt="Doctors Icon" class="menu-icon">Doctors</a></li>
      <li><a routerLink="/charge-rh-collaborateurs"><img src="assets/patients-icon.png" alt="Collaborators Icon" class="menu-icon">Collaborators</a></li>
      <li><a routerLink="/charge-rh-visits"><img src="assets/visits-icon.png" alt="Visits Icon" class="menu-icon">Visits</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="top-bar">
      <div class="logo">
        <img src="assets/logo.png" alt="SQLI Digital Experience Logo" class="logo-icon">
      </div>
      <div class="logout">
        <button (click)="logout()"><img src="assets/logout-icon.png" alt="Logout Icon" class="logout-icon"> Logout</button>
      </div>
    </div>

    <div class="content">
      <div class="filter-section purple-box">
        <label for="searchOption">Search by:</label>
        <select id="searchOption" [(ngModel)]="searchOption" (change)="filterDoctors()">
          <option value="">Select option</option>
          <option value="site_travail">Site Travail</option>
          <option value="speciality">Speciality</option>
          <option value="experience">Experience</option>
        </select>


        <div *ngIf="searchOption === 'site_travail' || searchOption === 'speciality'">
          <label for="searchValue">Enter value:</label>
          <input type="text" id="searchValue" [(ngModel)]="searchValue" (input)="filterDoctors()">
        </div>


        <div *ngIf="searchOption === 'experience'">
          <label for="experienceRange">Select Experience Range:</label>
          <select id="experienceRange" [(ngModel)]="experienceRange" (change)="filterDoctors()">
            <option value="0-5">0-5 years</option>
            <option value="5-10">5-10 years</option>
            <option value="10+">10+ years</option>
          </select>
        </div>
      </div>


      <table class="doctors-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Speciality</th>
          <th>Experience</th>
          <th>Site Travail</th>
          <th>Availability</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doctor of filteredDoctors">
          <td>{{ doctor.nom }} {{ doctor.prenom }}</td>
          <td>{{ doctor.specialite }}</td>
          <td>{{ doctor.exp }}</td>
          <td>{{ doctor.site }}</td>
          <td>
            <span [ngClass]="{'available': doctor.availability, 'unavailable': !doctor.availability}">
              {{ doctor.availability ? 'Available' : 'Unavailable' }}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
